{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact Page</title>
    <link rel="stylesheet" href="{% static '/assets/css/contact.css' %}">
</head>
<body>
    {%include "header.html"%}
    <div class="wrapper">
        <div class="accordion-container">
            <h2 id="faq">FAQ</h2>
            <div class="accordion">
                {% for faq in faqs %}
                <div class="accordion-item {% if forloop.first %}active{% endif %}">
                    <div class="accordion-header">
                        <h3>{{ faq.question }}</h3>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div class="accordion-content">
                        <p>{{ faq.answer }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if messages %}
            <div class="messages">
        {% for message in messages %}
            <p class="success-message">{{ message }}</p>
        {% endfor %}
            </div>
        {% endif %}

        
        <!-- Contact Form & Info Section -->
        <div class="contact-section">
            <!-- Contact Form -->
            <div class="contact-form">
                <form action="#" method="POST">
                    {% csrf_token %}
                    <div class="input-row">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="input-row">
                        <input type="text" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="input-row">
                        <textarea name="message" placeholder="Message" rows="5" required></textarea>
                    </div>
                    <button class="send-btn" type="submit">Send Message</button>
                </form>
            </div>
    
            <!-- Contact Info -->
            <div class="contact-info">
                <div class="info-box">
                    <h3>Address</h3>
                    <p>Pokhara 14 Sundar Tole Chauthe</p>
                </div>
                <div class="info-box">
                    <h3>Call Us</h3>
                    <p>+977 9868426852</p>
                </div>
                <div class="info-box">
                    <h3>Email Us</h3>
                    <p>ranadip.rs.1b@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static '/assets/js/script.js' %}"></script>
</body>
{% include "footer.html" %}
</html>